# Python
__pycache__/
*.pyc

# Ignore heavy raw data
data/raw/
data/processed/

# Allow ONLY required submission audio
!original_segment.wav
!student_voice_ref.wav
!output_LRL_cloned.wav

# Outputs (ignore temporary)
outputs/*
!outputs/final_output.mp3
!outputs/speaker_embedding.pt

# Models
*.pth
*.pt

# Notebooks checkpoints
.ipynb_checkpoints/

# Environment
env/
speech_env/
venv/

# OS files
.DS_Store
Thumbs.db

# Large files
*.zip
*.tar
*.gz
